# Install LXDE - THIS IS NOT TESTED - i just wnated to include installing dunst somewhere so that notifications owork
- hosts: desktop
  become: true
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    - name: Install LXDE
      command: dnf group install lxde-desktop

    - name: Install Dunst for notifications
      dnf:
        name: dunst
