.workspace-thumbnail-label {
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 2px 6px;
    margin: 4px;
    text-align: center;
}
