# Install nvautoinstall and then use it to install nvidia driver
- hosts: desktop
  become: true
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
   - name: Install Auto Installer
     shell: |
        dnf install dnf-plugins-core -y
        dnf copr enable t0xic0der/nvidia-auto-installer-for-fedora -y
        dnf install nvautoinstall -y
     args:
        creates: /usr/bin/nvautoinstall

   - name: Install Driver
     shell: nvautoinstall compat && nvautoinstall rpmadd && nvautoinstall driver
