#!/usr/bin/env ansible-playbook
---
- hosts: desktop
  name: Laptop Lid Power Management
  become: true
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    - name: Configure logind for laptop lid behavior
      ansible.builtin.blockinfile:
        path: /etc/systemd/logind.conf.d/laptop-lid.conf
        marker: "# {mark} ANSIBLE MANAGED: Laptop Lid Behavior"
        block: |
          [Login]
          # Suspend when lid closed on battery
          HandleLidSwitch=suspend

          # Don't suspend when lid closed on AC power
          HandleLidSwitchExternalPower=ignore
        create: true
        owner: root
        group: root
        mode: '0644'

    - name: Configure UPower to ignore lid (let logind handle it)
      ansible.builtin.lineinfile:
        path: /etc/UPower/UPower.conf
        regexp: '^IgnoreLid='
        line: 'IgnoreLid=true'
        owner: root
        group: root
        mode: '0644'
      notify: restart-upower

    - name: Notify user about reboot requirement
      ansible.builtin.debug:
        msg: |
          ===================================================================
          Configuration updated successfully.

          REBOOT REQUIRED: systemd-logind does not reload config without
          restarting, and restarting logind kills your session.

          Please reboot the system for changes to take effect.
          ===================================================================

  handlers:
    - name: restart-upower
      ansible.builtin.systemd:
        name: upower
        state: restarted
