#!/usr/bin/env ansible-playbook
---
# Git is already installed as it was used to clone this repo,
# so we just need to configure it
- hosts: desktop
  name: Git Configure and Tools
  become: false
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    # TODO: Consider adding GPG commit signing (commit.gpgsign true)
    # Needs investigation: gpg-agent forwarding to containers (similar to SSH agent forwarding)
    # See: gpg-agent extra-socket, GPG_AGENT_INFO env var, mounting sockets into containers
    - name: Setup Git Config - user
      ansible.builtin.shell: |
        git config --global user.email "{{ user_email }}"
        git config --global user.name "{{ user_name }}"
        git config --global color.ui auto
        git config --global push.default simple;
        git config --global help.autocorrect 30;
        git config --global core.editor "vim"
        git config --global init.defaultBranch main
        git config --global fetch.prune true
        git config --global pull.rebase false
        git config --global branch.autoSetupMerge simple
        git config --global core.autocrlf input
    - name: Set up Global Git Ignores
      ansible.builtin.blockinfile:
        create: true
        block: |
          /.idea
          *.secret
          /untracked
          /vendor
          .phpunit.result.cache
        path: "~/.config/git/ignore"

    - name: Enable Git Bash Prompt
      ansible.builtin.shell: "git clone https://github.com/magicmonty/bash-git-prompt.git ~/.bash-git-prompt --depth=1"
      args:
        creates: /home/{{ user_login }}/.bash-git-prompt/.git/config

    - name: Update ~/.bashrc File for the Bash Git Prompt
      ansible.builtin.blockinfile:
        path: /home/{{ user_login }}/.bashrc
        marker: "# {mark} ANSIBLE MANAGED: Git Bash Prompt"
        block: |
          GIT_PROMPT_ONLY_IN_REPO=1
          GIT_PROMPT_THEME=Solarized
          GIT_PROMPT_START=$PS1
          source ~/.bash-git-prompt/gitprompt.sh

    # https://github.com/cli/cli/blob/trunk/docs/install_linux.md#fedora-centos-red-hat-enterprise-linux-dnf
    - name: Install Github Client
      become: true
      ansible.builtin.shell: |
        dnf -y install 'dnf-command(config-manager)'
        dnf -y config-manager addrepo --from-repofile=https://cli.github.com/packages/rpm/gh-cli.repo
        dnf -y install gh
      args:
        chdir: /usr/bin/
        creates: gh

    # https://github.com/newren/git-filter-repo
    - name: Install DNF Git Filter Repo
      become: true
      ansible.builtin.dnf:
        name:
          - git-filter-repo

    - name: Git Aliases
      ansible.builtin.blockinfile:
        path: /home/{{ user_login }}/.bashrc
        marker: "# {mark} ANSIBLE MANAGED: Git Aliases"
        block: |
          alias gu="git push"
          alias gd="git pull"
          alias gs="git status"
          alias c="git commit"
      tags: alias
