---
- hosts: desktop
  name: LXC Install Config
  become: true
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    - name: Enable LXD Copr Repository
      community.general.copr:
        name: "ganto/lxc4"

    - name: Install Packages
      ansible.builtin.package:
        name:
          - lxc
          - lxc-templates

    - name: Put SELinux in permissive mode, logging actions that would be blocked.
      ansible.posix.selinux:
        policy: targeted
        state: permissive

    - name: Setup LXC Service
      ansible.builtin.systemd:
        name: "{{ item }}"
        state: restarted
        enabled: true
      with_items:
        - lxc

    - name: Switch lxcbr0 to trusted firewall zone
      ansible.builtin.command: nmcli connection modify lxcbr0 connection.zone trusted
    - name: Firewalld trusted
      ansible.builtin.shell: |
        firewall-cmd --zone=trusted --change-interface=lxcbr0 --permanent
        firewall-cmd --reload
    - name: Create Insecure SSH Key for Connecting to Container
      become: true
      become_user: "{{ user_login }}"
      ansible.builtin.shell: ssh-keygen -t rsa -f ~/.ssh/id_lxc -q -P ""
      args:
        creates: "/home/{{ user_login }}/.ssh/id_lxc"

    - name: Set up SSH Config for LXC Containers
      ansible.builtin.blockinfile:
        marker: "# {mark} LXC Containers Insecure Key"
        path: "/home/{{ user_login }}/.ssh/config"
        create: true
        owner: "{{ user_login }}"
        group: "{{ user_login }}"
        block: |
          Host "10.0.*.*"
            IdentityFile ~/.ssh/id_lxc
            UserKnownHostsFile=/dev/null
            StrictHostKeyChecking=no

    - name: Ensure /etc/lxc/dhcp.conf File Exists
      ansible.builtin.file:
        path: /etc/lxc/dhcp.conf
        state: touch
        owner: root
        group: root
        mode: "0644"

    - name: Enable DHPC on lxcbr0
      ansible.builtin.blockinfile:
        block: LXC_DHCP_CONFILE=/etc/lxc/dhcp.conf
        marker: "# {mark} ANSIBLE MANAGED - LXC Install"
        path: /etc/sysconfig/lxc-net

    - name: Clone LXC Bash
      become: true
      become_user: "{{ user_login }}"
      ansible.builtin.git:
        repo: git@github.com:LongTermSupport/lxc-bash.git
        dest: /home/{{ user_login }}/Projects/lxc-bash

    - name: Add Aliases to bashrc file
      ansible.builtin.lineinfile:
        line: source /home/{{ user_login }}/Projects/lxc-bash/lxc-bash-completion.bash
        path: /home/{{ user_login }}/.bashrc

    - name: Increase System Limits
      ansible.builtin.blockinfile:
        path: /etc/sysctl.conf
        marker: "# {mark} ANSIBLE MANAGED - LXC Install"
        block: |
          fs.inotify.max_user_instances=8192
          fs.inotify.max_user_watches=524288
      notify: sysctl
      tags: sysctl

    # Docker and other networking tools in LXC containers require certain kernel modules
    # to be loaded on the host for proper operation. These are standard Linux networking
    # modules that are safe to load and commonly used by various applications.
    - name: Ensure kernel modules loaded for Docker/OpenVPN in LXC containers
      community.general.modprobe:
        name: "{{ item }}"
        state: present
        persistent: present # Ensures modules are loaded at boot via /etc/modules-load.d/
      loop:
        # Core iptables modules needed by Docker for NAT and packet filtering
        - ip_tables # Core IPv4 packet filtering framework
        - iptable_filter # Basic packet filtering (ACCEPT/DROP/REJECT)
        - iptable_nat # Network Address Translation for port mapping
        - iptable_mangle # Packet modification (TTL, TOS, etc)
        # Note: IPv6 modules are typically auto-loaded by firewalld
      tags: [kernel_modules, lxc_docker]

  handlers:
    - name: sysctl
      ansible.builtin.command: sysctl -p
