- hosts: desktop
  name: Gnome Shell Extensions
  become: true
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    - name: Install Packages
      dnf:
        name:
          - gnome-tweaks.noarch