#!/usr/bin/env ansible-playbook
---
#!/usr/bin/env ansible-playbook
# This play installs things you need for Python and AI development
- hosts: desktop
  vars:
    root_dir: "{{ inventory_dir }}/../../"
    # Python versions to install - using latest stable releases
    # To update: pyenv install --list | grep -E "^\s*3\.(11|12|13)\.[0-9]+$" | tail -3
    pyenv_versions:
      - 3.11.13 # LTS version - security support until Oct 2027
      - 3.12.11 # Stable version - security support until Oct 2028
      - 3.13.1 # Latest stable
  tasks:
    - name: Ensure pipx Installed, Pyenv dependencies, and dependencies required by various python packages
      become: true
      ansible.builtin.dnf:
        name:
          - pipx
          - ruff
          - make
          - cmake
          - gcc-c++
          - gcc
          - patch
          - zlib-devel
          - bzip2
          - bzip2-devel
          - readline-devel
          - sqlite
          - sqlite-devel
          - openssl-devel
          - tk-devel
          - libffi-devel
          - xz-devel
          - libuuid-devel
          - gdbm-libs
          - libnsl2
          - SDL2-devel
          - SDL2_image-devel
          - SDL2_mixer-devel
          - SDL2_ttf-devel
          - libjpeg-devel
          - portmidi-devel
          - portaudio-devel
          - python3-devel

    - name: Install PDM
      community.general.pipx:
        name: pdm
        state: latest

    - name: PDM Self Update
      ansible.builtin.shell: pdm self update
    - name: Hugging Face CLI
      community.general.pipx:
        name: huggingface_hub
        state: latest

    - name: Pyenv Python Version Management
      ansible.builtin.shell: |
        curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer | bash
      args:
        executable: /bin/bash
        creates: /home/{{ user_login }}/.pyenv

    - name: Pyenv Bashrc Config
      ansible.builtin.blockinfile:
        path: "{{ item }}"
        marker: "# {mark} ANSIBLE MANAGED BLOCK - Pyenv"
        block: |
          export PYENV_ROOT="$HOME/.pyenv"
          command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
          eval "$(pyenv init -)"
      loop:
        - /home/{{ user_login }}/.bashrc
        - /home/{{ user_login }}/.bash_profile

    - name: Install Pyenv Versions
      ansible.builtin.shell: |
        source ~/.bash_profile
        pyenv install -s {{ item }}  # -s/--skip-existing skips if already installed
      args:
        executable: /bin/bash
      loop: "{{ pyenv_versions }}"
      tags:
        - pyenv
        - pyenv_install_versions
