---
#!/usr/bin/env ansible-playbook
# Customisations for Gnome Shell - only worth doing if you actually use Gnome
- hosts: desktop
  name: Gnome Shell Extensions
  become: true
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    - name: Install Gnome Shell Extension Installer
      ansible.builtin.shell: |
        cd /usr/bin
        # Pin to specific commit for reproducibility and security
        # Current master as of 2025-08, update if needed
        wget -O gnome-shell-extension-installer "https://github.com/brunelli/gnome-shell-extension-installer/raw/1200bd8566b2fbc55f8ccc96f07394996dfc2da9/gnome-shell-extension-installer"
        chmod +x gnome-shell-extension-installer
      args:
        creates: /usr/bin/gnome-shell-extension-installer

    - name: Install DNF packages
      ansible.builtin.dnf:
        name:
          - xprop
          - gnome-shell-extension-dash-to-dock
          # Note: just-perfection is installed via ID below as DNF package may be outdated

    - name: Install Gnome Shell Extensions Not Included with DNF
      become: false
      ansible.builtin.command: gnome-shell-extension-installer --yes --restart-shell {{ item.id }}
      loop:
        # All verified compatible with GNOME Shell 48 (Fedora 42)
        - name: Blur my Shell
          id: 3193
          # https://extensions.gnome.org/extension/3193/blur-my-shell/
        - name: Vitals
          id: 1460
          # https://extensions.gnome.org/extension/1460/vitals/
        - name: AppIndicator and KStatusNotifierItem Support
          id: 615
          # https://extensions.gnome.org/extension/615/appindicator-support/
        - name: Clipboard Indicator
          id: 779
          # https://extensions.gnome.org/extension/779/clipboard-indicator/
        - name: Just Perfection
          id: 3843
          # https://extensions.gnome.org/extension/3843/just-perfection/
        - name: Tiling Shell
          id: 7065
          # https://extensions.gnome.org/extension/7065/tiling-shell/
        - name: Space Bar
          id: 5090
          # https://extensions.gnome.org/extension/5090/space-bar/

    - name: Deploy Custom Extension - Workspace Names in Overview
      become: true
      become_user: "{{ user_login }}"
      ansible.builtin.copy:
        src: "{{ root_dir }}/extensions/workspace-names-overview@fedora-desktop/"
        dest: "/home/{{ user_login }}/.local/share/gnome-shell/extensions/workspace-names-overview@fedora-desktop/"
        mode: '0755'

    - name: Enable Workspace Names in Overview Extension
      become: true
      become_user: "{{ user_login }}"
      ansible.builtin.command:
        cmd: gnome-extensions enable workspace-names-overview@fedora-desktop
      register: enable_result
      changed_when: "'is now enabled' in enable_result.stderr or enable_result.rc == 0"
      failed_when: false

    - name: Show Extension Enable Result
      ansible.builtin.debug:
        msg: |
          Extension enable result: {{ enable_result.stderr | default('No stderr output') }}
          Return code: {{ enable_result.rc }}
          NOTE: Extension may require logging out/in or restarting GNOME Shell to load
