---
#!/usr/bin/env ansible-playbook
- hosts: desktop
  become: true
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    # Install Firefox
    - name: Install Firefox
      ansible.builtin.package:
        name:
          - firefox
        state: present

    - name: Make /etc/firefox/policies Directory
      ansible.builtin.file:
        path: /etc/firefox/policies
        state: directory
        mode: "0755"
        owner: root
        group: root

    # Install Firefox Profile Switcher Connector
    - name: Install Firefox Profile Switcher Connector RPM
      ansible.builtin.dnf:
        name: https://github.com/null-dev/firefox-profile-switcher-connector/releases/latest/download/linux-x64.rpm
        state: present
        disable_gpg_check: true

    # Set Policies
    # see:
    # - https://linuxconfig.org/how-to-customize-firefox-using-the-policies-json-file
    # - https://mozilla.github.io/policy-templates/
    - name: Set Policies
      ansible.builtin.copy:
        src: "{{ root_dir }}/files/etc/firefox/policies/policies.json"
        dest: /etc/firefox/policies/policies.json
