---
#!/usr/bin/env ansible-playbook
- hosts: desktop
  become: false
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    - name: Install DNF Plugins
      become: true
      ansible.builtin.dnf:
        name: dnf-plugins-core

    - name: Add Docker Repo
      become: true
      ansible.builtin.shell: |
        dnf config-manager addrepo \
          --from-repofile=https://download.docker.com/linux/fedora/docker-ce.repo
      args:
        creates: /etc/yum.repos.d/docker-ce.repo

    - name: Install Docker
      become: true
      ansible.builtin.dnf:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin

    - name: Setup ID Maps
      become: true
      ansible.builtin.blockinfile:
        path: "{{ item }}"
        block: |
          {{user_login}}:100000:65536
      loop:
        - /etc/subuid
        - /etc/subgid

    - name: Run Rootless Setup
      ansible.builtin.command: dockerd-rootless-setuptool.sh install
      args:
        creates: /home/{{user_login}}/.config/systemd/user/docker.service

    - name: Enable and Start User Rootless Docker Systemd Service
      ansible.builtin.systemd:
        name: docker
        state: started
        enabled: true
        scope: user
