- hosts: desktop
  become: true
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    # @see https://pkg.cloudflareclient.com/#rhel
    - name: Install Repo
      shell: |
        curl -fsSl https://pkg.cloudflareclient.com/cloudflare-warp-ascii.repo | sudo tee /etc/yum.repos.d/cloudflare-warp.repo
        dnf update
      args:
        executable: /bin/bash
        creates: /etc/yum.repos.d/cloudflare-warp.repo

    - name: Install
      dnf:
        name: cloudflare-warp
        state: latest

    # @see https://developers.cloudflare.com/warp-client/get-started/linux/
    - name: Configure
      become: true
      become_user: "{{ user_login }}"
      shell: |
        # untested, hopefully works
        set -ex
        yes | warp-cli --accept-tos registration new
        warp-cli --accept-tos connect 
        warp-cli --accept-tos mode doh
        warp-cli --accept-tos dns families malware

    - name: Systemd Resolved Config
      copy:
        dest: /etc/systemd/resolved.conf
        content: |
          [Resolve]
          DNS=127.0.2.2 127.0.2.3
#      notify: resolved-reload

#  handlers:
#    - name: resolved-reload
#      systemd:
#        name: systemd-resolved
#        state: reloaded
#        enabled: yes

      
        
        
        
