- hosts: desktop
  become: false
  vars:
    root_dir: "{{ inventory_dir }}/../../"
  tasks:
    - name: Install DNF Plugins
      become: true 
      dnf:
        name: dnf-plugins-core

    - name: Add Docker Repo
      become: true
      shell: |
          dnf config-manager \
            --add-repo \
            https://download.docker.com/linux/fedora/docker-ce.repo 
      args:
        creates: /yum/repos.d/docker-ce.repo

    - name: Install Docker
      become: true
      dnf:
        name:
          - docker-ce 
          - docker-ce-cli 
          - containerd.io 
          - docker-compose-plugin
          - docker-compose

    - name: Setup ID Maps
      become: true
      blockinfile:
        path: "{{ item }}"
        block: |
          {{user_login}}:100000:65536
      loop:
        - /etc/subuid
        - /etc/subgid

    - name: Run Rootless Setup
      command: dockerd-rootless-setuptool.sh install
      args:
        creates: /home/{{user_login}}/.config/systemd/user/docker.service 

    - name: Enable and Start User Rootless Docker Sytemd Service
      systemd:
        name: docker
        state: started
        enabled: yes
        scope: user
